:root {
    --first-background: black;
    --second-background: #44FF00;
    --text-color-1: black;
    --text-color-2: #44FF00;
    
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body:not(nav) {
    font-size: clamp(0.75rem, 2vw, 1rem );
  }

body{
    font-family: "Black ops one";
    background-color: var(--second-background);
    text-align: center;

}
#home{
    display: grid;
    max-width: 650px;
    grid-template-rows: 1fr, 1fr;
    
}
div.home-nav-bar {
    font-size: 1.2 rem;
    background-color: var(--first-background);
    color: var(--text-color-2);
}
nav a {
    text-decoration: none;
    
}
nav ul {
text-decoration: none;
list-style: none;
display: flex;
justify-content: center;
}
nav li{
    margin-right: 60px;
    margin-left: 60px;
}

div.social-media-bar {
    border-width: 20px;
    border-style: solid;
    border-color: var(--second-background);
    color: black;
}

h1{
    font-weight: 40;
    font-size: 75px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: var(--text-color-2);
    line-height: 26.4px;
    text-align: left;
    margin-left: 0px;
    margin-top: 40px;
    border-width: 70px;
    border-style: solid;
    border-color: var(--first-background);
    background-color: var(--first-background);    
}

figure.home-image{
    width: min(100%, 450px);
    height: max(100%, 200px);
    justify-content: center;
}

.home-page-paragraph > section{
        display: column;
        width: 400px;
        justify-content: right;
        padding-bottom: 40px;
}
.home-page-paragraph > h2{
    font-size: 45px;
    display:inline;
}
p.sources{
    padding: 20px;
    justify-content:flex-end;
}
.footer{
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 20px;     
}